server:
  port: 8082
spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      # url: jdbc:mysql://10.74.20.139:31555/poros?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&useSSL=false&serverTimezone=GMT%2B8
      url: jdbc:mysql://localhost:3306/studymybatisplus?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&useSSL=false&serverTimezone=GMT%2B8
      username: root
      password: test
      driver-class-name: com.mysql.cj.jdbc.Driver
      max-active: 30
      max-wait: 10000
      min-idle: 3
      initial-size: 3

mybatis-plus:
  mapper-locations: classpath:/mapper/*.xml
  #实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: com.hx.swagger2.entity
  configuration:
    map-underscore-to-camel-case: true
  type-enums-package: com.hx.swagger2.toos.enums
  global-config:
    db-config:
      logic-delete-field: flag
      logic-delete-value: 1
      logic-not-delete-value: 0